@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 70% 10%;
    --foreground: 0 0 100%;
    --popover: 197 70% 10%;
    --popover-foreground: 0 0 100%;
    --primary: 50 87% 28%;
    --primary-foreground: 355.7 100% 97.3%;
    --border: 50 87% 28%;
    --border-light: 50 85% 49%;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hideScrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hideScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .polka {
    background-image: radial-gradient(rgb(244, 236, 236) 10%, transparent 16.8%),
      radial-gradient(rgb(244, 236, 236) 10%, transparent 16.8%);
    background-position: 0px 0px, 8px 8px;
    background-size: 16px 16px;
  }

  .polka-yellow {
    background-image: radial-gradient(rgb(34, 33, 1) 10%, transparent 16.8%),
      radial-gradient(rgb(34, 33, 1) 10%, transparent 16.8%);
    background-position: 0px 0px, 8px 8px;
    background-size: 16px 16px;
  }

  @media screen and (min-width: 1024px) {
    .backdropBlur {
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
    }
  }
}
